services:
  # ==========================================
  # INGRESS - Nhận luồng Livestream
  # ==========================================
  # Cho phép đẩy stream từ phần mềm ngoài (như OBS) vào phòng họp OpenVidu qua giao thức RTMP/SRT.
  ingress:
    image: docker.io/openvidu/ingress:3.5.0
    container_name: ingress
    restart: unless-stopped
    extra_hosts:
      - host.docker.internal:host-gateway
    ports:
      - 1935:1935 # Cổng RTMP chuẩn
      - 8085:8085
      - 7895:7895/udp
    environment:
      - INGRESS_CONFIG_FILE=/etc/ingress.yaml
    volumes:
      - ./ingress.yaml:/etc/ingress.yaml
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      setup:
        condition: service_completed_successfully

  # ==========================================
  # EGRESS - Xuất luồng / Ghi hình (Recording)
  # ==========================================
  # Chịu trách nhiệm ghi lại cuộc họp thành file MP4 hoặc composite video thành luồng RTMP để live stream sang Youtube/Facebook.
  # Service này tốn khá nhiều tài nguyên (CPU) để encoding video.
  egress:
    image: docker.io/openvidu/egress:3.5.0
    restart: unless-stopped
    container_name: egress
    extra_hosts:
      - host.docker.internal:host-gateway
    environment:
      - EGRESS_CONFIG_FILE=/etc/egress.yaml
    volumes:
      - ./egress.yaml:/etc/egress.yaml
      - egress-data:/home/egress/tmp # Folder tạm để lưu file đang ghi
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      setup:
        condition: service_completed_successfully
